<main class="container">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <.heading>
    <%= @title %>
    <:footer>
      <%= @description %>
    </:footer>
  </.heading>

  <div class="mt-6">
    <%= @inner_content %>
  </div>
</main>
