<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "LivePlayground", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style><%= Makeup.stylesheet() %></style>
  </head>
  <body class="font-sans antialiased text-gray-600 min-h-full flex flex-col" scroll-region>
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <div x-data="{ open: false }" @keydown.window.escape="open = false">
      <div x-show="open" class="relative z-40 md:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-600 bg-opacity-75 cursor-text"></div>
        <div class="fixed inset-0 z-40 flex">
          <div class="relative flex w-full max-w-xs flex-1 flex-col bg-white">
            <!-- Close button, show/hide based on off-canvas menu state. -->
            <div class="absolute top-0 right-0 -mr-12 pt-2">
              <button @click="open = false" type="button" class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                <span class="sr-only">Close sidebar</span>
                <!-- Heroicon name: outline/x-mark -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <!-- Mobile menu -->
            <div class="h-0 flex-1 overflow-y-auto pt-5 pb-4">
              <nav class="mt-5 space-y-1 px-2">
                <LivePlaygroundWeb.MenuComponent.mobile />
              </nav>
            </div>
          </div>
          <div class="w-14 flex-shrink-0">
            <!-- Force sidebar to shrink to fit close icon -->
          </div>
        </div>
      </div>
      <!-- Static sidebar for desktop -->
      <div class="hidden md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex min-h-0 flex-1 flex-col border-r border-gray-200 bg-white">
          <div class="flex flex-1 flex-col overflow-y-auto pt-2 pb-4">
            <nav class="mt-5 flex-1 space-y-1 bg-white px-2">
              <LivePlaygroundWeb.MenuComponent.desktop current_path={"#{Phoenix.Controller.current_path(@conn)}"} />
            </nav>
          </div>
        </div>
      </div>
      <div class="flex flex-1 flex-col md:pl-64">
        <div class="sticky top-0 z-10 bg-white pl-1 pt-1 sm:pl-3 sm:pt-3 md:hidden">
          <button @click="open = true" type="button" class="-ml-0.5 -mt-0.5 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-100">
            <span class="sr-only">Open sidebar</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <main class="flex-1">
          <div class="py-6">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
              <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                <%= @title %>
              </h1>
              <p class="mb-10">
                <%= @description %>
              </p>
              <%= @inner_content %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
