<.multi_column_layout>
  <:narrow_sidebar>
    <%!-- Narrow Sidebar Component --%>
  </:narrow_sidebar>
  <:mobile_menu>
    <%!-- Vertical Navigation Component --%>
  </:mobile_menu>
  <:static_menu>
    <%!-- Vertical Navigation Component --%>
  </:static_menu>
  <%= @inner_content %>
</.multi_column_layout>
