<.multi_column_layout>
  <:narrow_sidebar>
    <%!-- Narrow Sidebar --%>
  </:narrow_sidebar>
  <:mobile_menu>
    <%!-- Mobile Menu --%>
  </:mobile_menu>
  <:static_menu>
    <%!-- Static Menu --%>
  </:static_menu>
  <%= @inner_content %>
</.multi_column_layout>
