<.multi_column_layout>
  <:narrow_sidebar>
    <Sidebar.menu current_layout={:home} />
  </:narrow_sidebar>
</.multi_column_layout>
<div class="ml-14 md:ml-20 mt-10 md:mt-20">
  <%= @inner_content %>
</div>
