<.multi_column_layout>
  <:narrow_sidebar>
    <Sidebar.menu current_layout={:page} />
  </:narrow_sidebar>
</.multi_column_layout>
<div class="ml-14 md:ml-20">
  <div class="mx-auto max-w-7xl p-4 md:p-8">
    <%= @inner_content %>
  </div>
</div>
