<.flash_group flash={@flash} />
<.multi_column_layout>
  <:narrow_sidebar>
    <Sidebar.menu current_layout={:recipes} />
  </:narrow_sidebar>
  <:mobile_menu>
    <Recipes.menu id="recipes-mobile-menu" current_path={@current_path} />
  </:mobile_menu>
  <:desktop_menu hook="PreserveScroll">
    <Recipes.menu id="recipes-desktop-menu" current_path={@current_path} />
  </:desktop_menu>
  {@inner_content}
</.multi_column_layout>
