<.flash_group flash={@flash} />
<.multi_column_layout>
  <:narrow_sidebar>
    <Sidebar.menu current_layout={:steps} />
  </:narrow_sidebar>
  <:mobile_menu>
    <Steps.menu current_path={@current_path} />
  </:mobile_menu>
  <:desktop_menu>
    <Steps.menu current_path={@current_path} />
  </:desktop_menu>
  <%= @inner_content %>
</.multi_column_layout>
